<!DOCTYPE html>
<html>
    <head>
        <title>demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>

        <main class="position-relative">
            <!-- <h1>Create a new Meraki site and provision an available network device</h1> -->

            <div class="card text-center border-success position-absolute top-50 start-50 translate-middle-x" style="width: 50%;">
                <h1 class="card-header">Create a new Meraki site and provision an available network device</h1>
                <div class="card-body">
                  <h5 class="card-title">Fill in the network details</h5>
                  <p class="card-text">
                    <form method="POST" action="create_network">
    
                        <label for="fname"><b>Site name</b>:</label><br>
                        <input type="text" id="fname" name="network_name"><br><br/>
                        <label for="template"><b>Site type</b>:</label><br/>
                        <select id="template" name="network_template">
                          {%for t in templates%}
                          <option value="{{ t.id }}">{{ t.name }}</option>
                          {%endfor%}
                        </select><br/><br/>

                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  <input class="btn btn-success" type="submit" value="CREATE">
                </form>
                </div>
              </div>


        </main>
    </body>
</html>
